
@font-face {
  font-family: Georgia;
  src: url(./georgia/Georgia.ttf);
}
* {
  font-family: 'Georgia';
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #F6F6F6 ;
    margin: 0;
}
.divLogo {
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #445566;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .companyTitle {
    font-size: initial;
    color: FFFFFF;
  }
  .imgLogo {
      max-height: 60px;
      animation: move-left-right 2.9s forwards; 
  }
  /* move left to right constantly */
  @keyframes move-left-right {
    0% {
      transform: translateX(-260%);
      opacity: 1; /* Element is fully visible at the beginning of the animation */
    }
    
    100% {
      transform: translateX(0%);
      opacity: 0; /* Element is completely transparent at the end of the animation */
    }
  }
  .flipping {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 20px; 
  }
  
  .scene, .scene2, .scene3 {
    width: 80%;
    height: 250px;
    perspective: 1200px;
  }
  
  .scene:last-child, .scene2:last-child, .scene3:last-child {
    margin-right: 0;
  }
  
  .card, .card2, .card3 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    background-image: linear-gradient(rgb(255, 255, 255) ,  #EAEAEA );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card__face, .card__face2, .card__face3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .card__face--front,
 .card__face--front2,
 .card__face--front3  {
    
    color: #444444;
    background-image: url(./Images/Air_conditioning_glyph_icon-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: bottom right;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
  }

  .card__face--back, .card__face--back2, .card__face--back3 {
    color: #333333;
    transform: rotateY( 180deg );
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  
  .card.is-flipped, .card2.is-flipped, .card3.is-flipped {
    transform: rotateY(180deg);
  }
 
  .paracard {
    font-size: 16px;
    text-align: center;
    color: white;
    margin-top: 20px;
    width: 95%;
    box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.3);
    background: #00000042;
  }
  
.cardlink {
  color: white;
  position: absolute;
  bottom: 27px;
  background: #434141d1;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  }

.introcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 145%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
}
.introduction {
    color: #333333;
    z-index: 2;
    width: 92%;
    text-align: center;
  }
.introcontainer::before {
    position: absolute;
    top: -50%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: #EAEAEA;
    border-radius: 50%;
}
.introsection {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 70px;
}
.sidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: 120px;
    height: 83%;
}
.sideimg {
    width: 300px;
    position: relative;
    left: 40%;
    border-radius: 50%;
    background-color: #EAEAEA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
    
}

.sideimg1 {
  display: none;
  width: 300px;
  padding-bottom: 36px;
  position: relative;
  left: 40%;
  border-radius: 50%;
  background-color: #EAEAEA;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateZ(-100px) scale(1.2);
  transition: transform 0.3s ease;
}

.sideimg2 {
    width: 300px;
    position: relative;
    right: 32%;
    border-radius: 50%;
    background-color:#EAEAEA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
}
.dark-mode {
    background-color: #222222 ;
    color: white;
  }
  
  .dark-mode .card__face--front,
  .dark-mode .card__face--front2,
  .dark-mode .card__face--front3, 
  .dark-mode .card__face--back,
  .dark-mode .card__face--back2, 
  .dark-mode .card__face--back3,
  .dark-mode .card,
  .dark-mode .card2,
  .dark-mode .card3 {
    color: white;
    box-shadow: 5px 5px 10px rgb(83 83 83 / 76%)
  } 
  .dark-mode .divLogo {
    background-color: #333333;
  }
  .dark-mode .introcontainer, 
  .dark-mode .sideimg2{
    background-color: #2C2C2C;
  }
  .dark-mode .companyTitle {
    color: white;
  }
  .dark-mode .introduction {
    color:  #EAEAEA ;
  }
  .switchbuttons {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 67px;
    top: 19px;
  }
  .switchbuttons0 {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 9px;
  }
  .swtichimg {
    width: 40px;
  }
  #lightModeButton {
    display: none;
  }
  .dark-mode #darkModeButton{
    display: none;
  }
  .dark-mode #lightModeButton{
    display: block;
  }
  .dark-mode #scrollUpBtn{
     background-color:#445566;
  }
  .dark-mode .sideimg {
    display: none;
  } 
  .dark-mode .sideimg1 {
    display: block;
    background-color: #2C2C2C;
 }
  #lightmodeimg {
    width: 60px;
    opacity: 1; 
    visibility: hidden; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    
    100% {
      opacity: 1; 
    }
  }
  

  .fadeIn-once {
    animation: fadeIn 1s forwards;
    animation-delay: 1s; 
  }

  #scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 12px;
    right: 18px;
    width: 54px;
    height: 47px;
    background-color: #04c90c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #scrollUpBtn:hover {
    background-color: #04c90c;
  }
  .scrollimg {
    width: 20px;
  }
  .background1 {
    background-image: url(./Images/robotichand.jpg);
  }
  .background2 {
    background-image: url(./Images/E-City.jpg);
  }
  .background3 {
    background-image: url(./Images/Programingcard.jpg);
  }
  .background4 {
    background-image: url(./Images/Droneimage.jpg);
  }
  .background5 {
    background-image: url(./Images/fusion360.png);
  }
  .background6 {
    background-image: url(./Images/ProgramingLanguage.jpg);
  }
  
  .cardheading {
    width: 100%;
    color: white;
    text-decoration: dashed;
    letter-spacing: 2px;
    background-color: #00000040;
    text-align: center;
  }
  .crossoverrcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -32px;
  }
  #crossover {
    width: 86%;
    height: 6px;
    background-color: rgb(58 58 82 / 39%);
    border-radius: 50px;
  }
  .crossoverrcontainer2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px;
  }
  
  #crossover2 {
    width: 57%;
    height: 6px;
    background-color: rgb(58 58 82 / 39%);
    border-radius: 50px;
  }
  .Computerintro {
    display: none;
  }
 
  @media screen and (min-width: 1440px) {
    .companyTitle {
      font-size: revert;
    }
    @keyframes move-left-right {
      0% {
        transform: translateX(-800%);
        opacity: 1; /* Element is fully visible at the beginning of the animation */
      }
      
      100% {
        transform: translateX(-500%);
        opacity: 0; /* Element is completely transparent at the end of the animation */
      }
    }
    #lightmodeimg {
      width: 100px;
      opacity: 1;
      animation: none;
    }
    .switchbuttons0 {
      right: 229px;
      top: -12px;
    }
    @keyframes fadeIn {
      0% {
        opacity: 1; 
      }
      
      100% {
        opacity: 1; 
      }
    }
    .introsection {
      height: auto;
    }
    .switchbuttons {
      right: 242px;
      top: 1.2px;
    }
    .swtichimg {
      width: 75px;
    }
    .flipping {
      display: none;
    }
    .introcontainer {
      display: none;
    }
    .mySlides {display: none}
img {vertical-align: middle;}

.introsection {
  flex-direction: column;
}
/* Slideshow container */
.Computerintro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative; /* Add this line to make positioning inside .Computerintro relative */
}
.introslideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden; /* Add this line to hide overflowing images */
}

/* Set image width and height to 100% and maintain aspect ratio */
.introslideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -41px;
  color: white;
  font-weight: bold;
  font-size: 52px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slide-content h1,
.slide-content p,
.slide-content button {
  margin: 0;
}
.slide-content {
  margin-top: 50px;
  margin-left: 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.slideheaders {
  font-size: xxx-large;
  box-shadow:  8px 9px 5px rgba(0, 0, 0, 0.3);
}
.slidetexts {
  font-size: 24px;
  width: 70%;
  text-align: initial;
  box-shadow:  8px 9px 5px rgba(0, 0, 0, 0.3);
  height: 180px;
}
.slidebuttons {
  text-decoration: none;
  position: absolute;
  bottom: 156px;
  right: 246px;
  width: 177px;
  height: 60px;
  background: #ffffff17;
  border: none;
  box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out;
}

.slidebuttons:hover {
  background: #ec008c;
  transform: scale(1.1); /* Increase the size by 10% */
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.next {
  z-index: 2;
}

.flipping {
  display: none;
}
.divLogo {
  margin: 0px;
}


  }

