
body {
    background-color: #bdbd7040;
    margin: 0;
}
.divLogo {
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: rgb(231 209 159 / 23%);
    align-items: center;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .companyTitle {
    font-size: initial;
    color: brown;
  }
  .imgLogo {
      max-height: 60px;
      animation: move-left-right 2.9s ease; 
  }
  /* move left to right constantly */
@keyframes move-left-right {
    0% {
      transform: translateX(-260%);
    }
   
    100% {
      transform: translateX(0%);
    }
  }
 
  .flipping {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 20px; 
  }
  
  .scene, .scene2, .scene3 {
    width: 200px;
    height: 200px;
    perspective: 1200px;
    margin-right: 12px; 
  }
  
  .scene:last-child, .scene2:last-child, .scene3:last-child {
    margin-right: 0;
  }
  
  .card, .card2, .card3 {
    width: 200px;
    height: 200px;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    
  }
  
  .card__face, .card__face2, .card__face3 {
    position: absolute;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .card__face--front, .card__face--front2, .card__face--front3 {
    background: rgb(231 209 159 / 23%);
    color: brown;
    background-image: url(./Images/Air_conditioning_glyph_icon-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: bottom right;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .card__face--back, .card__face--back2, .card__face--back3 {
    background: rgb(231 209 159 / 23%);
    color: brown;
    transform: rotateY( 180deg );
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card.is-flipped, .card2.is-flipped, .card3.is-flipped {
    transform: rotateY(180deg);
  }
.introcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231 209 159 / 23%);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 145%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
}
.introduction {
    color: brown;
    z-index: 2;
    width: 92%;
    text-align: center;
  }
.introcontainer::before {
    position: absolute;
    top: -50%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: rgb(231 209 159 / 23%);
    border-radius: 50%;
}
.introsection {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 70px;
}
.sidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
    overflow: hidden;
    margin-top: 120px;
    height: 80%;
}
.sideimg {
    width: 300px;
    position: relative;
    left: 40%;
    border-radius: 50%;
    background-color: rgb(231 209 159 / 23%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
}
.sideimg2 {
    width: 300px;
    position: relative;
    right: 32%;
    border-radius: 50%;
    background-color: rgb(231 209 159 / 23%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
}