
body {
    background-color: #F6F6F6 ;
    margin: 0;
}
.divLogo {
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    background-color: #445566;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .companyTitle {
    font-size: initial;
    color: FFFFFF;
  }
  .imgLogo {
      max-height: 60px;
      animation: move-left-right 2.9s forwards; 
  }
  /* move left to right constantly */
  @keyframes move-left-right {
    0% {
      transform: translateX(-260%);
      opacity: 1; /* Element is fully visible at the beginning of the animation */
    }
    
    100% {
      transform: translateX(0%);
      opacity: 0; /* Element is completely transparent at the end of the animation */
    }
  }
  .flipping {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 20px; 
  }
  
  .scene, .scene2, .scene3 {
    width: 80%;
    height: 250px;
    perspective: 1200px;
  }
  
  .scene:last-child, .scene2:last-child, .scene3:last-child {
    margin-right: 0;
  }
  
  .card, .card2, .card3 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    background-image: linear-gradient(#FFFFFF ,  #EAEAEA );
    
  }
  
  .card__face, .card__face2, .card__face3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .card__face--front,
 .card__face--front2,
 .card__face--front3  {
    
    color: #444444;
    background-image: url(./Images/Air_conditioning_glyph_icon-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: bottom right;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
  }

  .card__face--back, .card__face--back2, .card__face--back3 {
    color: #333333;
    transform: rotateY( 180deg );
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
  
  .card.is-flipped, .card2.is-flipped, .card3.is-flipped {
    transform: rotateY(180deg);
  }
  #programmingcard {
    text-align: inherit;
    margin-left: 10px;
  }
  .paracard {
    font-size: 16px;
    text-align: center;
  }
  
.cardlink {
    margin-top: auto; 
  }

.introcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#EAEAEA;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 145%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
   
}
.introduction {
    color: #333333;
    z-index: 2;
    width: 92%;
    text-align: center;
  }
.introcontainer::before {
    position: absolute;
    top: -50%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-color: #EAEAEA;
    border-radius: 50%;
}
.introsection {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 70px;
}
.sidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    overflow: hidden;
    margin-top: 120px;
    height: 80%;
}
.sideimg {
    width: 300px;
    position: relative;
    left: 40%;
    border-radius: 50%;
    background-color: #EAEAEA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
}
.sideimg2 {
    width: 300px;
    position: relative;
    right: 32%;
    border-radius: 50%;
    background-color:#EAEAEA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateZ(-100px) scale(1.2);
    transition: transform 0.3s ease;
}
.dark-mode {
    background-color: #222222 ;
    color: white;
  }
  
  .dark-mode .card__face--front,
  .dark-mode .card__face--front2,
  .dark-mode .card__face--front3, 
  .dark-mode .card__face--back,
  .dark-mode .card__face--back2, 
  .dark-mode .card__face--back3,
  .dark-mode .card,
  .dark-mode .card2,
  .dark-mode .card3 {
    background: none;
    background-image: linear-gradient(to bottom, #2D2D2D, #353535);
    color: white;
    box-shadow: 5px 5px 10px rgb(83 83 83 / 76%)
  } 
  .dark-mode .divLogo {
    background-color: #333333;
  }
  .dark-mode .introcontainer, 
  .dark-mode .sideimg, 
  .dark-mode .sideimg2{
    background-color: #2C2C2C;
  }
  .dark-mode .companyTitle {
    color: white;
  }
  .dark-mode .introduction {
    color:  #EAEAEA ;
  }
  .switchbuttons {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 67px;
    top: 19px;
  }
  .switchbuttons0 {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 9px;
  }
  .swtichimg {
    width: 40px;
  }
  #lightModeButton {
    display: none;
  }
  .dark-mode #darkModeButton{
    display: none;
  }
  .dark-mode #lightModeButton{
    display: block;
  }

  #lightmodeimg {
    width: 60px;
    opacity: 1; 
    visibility: hidden; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    
    100% {
      opacity: 1; 
    }
  }
  

  .fadeIn-once {
    animation: fadeIn 1s forwards;
    animation-delay: 1s; 
  }

  #scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 12px;
    right: 18px;
    width: 54px;
    height: 47px;
    background-color: #04c90c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #scrollUpBtn:hover {
    background-color: #04c90c;
  }
  .scrollimg {
    width: 20px;
  }